.left-side {
  background-color: rgba(128, 128, 128, 0.062);
  height: 100vh;
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
  text-align: center;
}

.heading h4 {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 20px;
}

.dashboard_img {
  width: 560px;
  height: 450px;
}

.right-side {
  padding: 130px 40px 0 !important;
  max-width: 480px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.signin-btn {
  font-size: 16px !important;
  text-transform: none !important;
  text-decoration: none !important;
  color: green !important;
  margin-left: 5px;
}

.signin-btn:hover {
  text-decoration: underline !important;
  cursor: pointer;
}

.forgot-btn {
  font-size: 14px !important;
  text-transform: capitalize !important;
  align-self: flex-end !important;
}
.login-btn {
  background-color: rgb(33, 43, 54) !important;
  color: #fff;
  height: 48px !important;
  font-size: 15px !important;
  text-transform: capitalize!important;
}

.login-btn:hover {
  background-color: rgb(69, 79, 91) !important;
}

/* ################ media query ############### */

@media (min-width: 0px) {
  .left-side {
    display: none;
  }

  .right-side {
    padding: 120px 16px;
  }
}

@media (min-width: 900px) {
  .left-side {
    display: block;
  }
}
